# Program to fill missing values effectively in rows with different column names

In [ ]:
import pandas as pd
sdf=pd.read_csv('state.csv')
display(sdf)
sdf['Capital'].fillna(sdf['Biggest City'],inplace=True)
sdf['Biggest City'].fillna(sdf['Capital'],inplace=True)
sdf

            State             Capital    Biggest City
0       Karnataka           Bengaluru       Bangalore
1      Tamil Nadu             Chennai  Ramanathapuram
2          Kerala  Thiruvananthapuram             NaN
3       Telangana           Hyderabad           Medak
4  Andhra Pradesh                 NaN   Vishakapatnam
5     West Bengal             Kolkata       Bardhaman
6   Uttar Pradesh             Lucknow       Barabanki
7       Rajasthan                 NaN          Barmer
8          Punjab          Chandigarh    Muzaffargarh
9  Madhya Pradesh              Bhopal             NaN

            State             Capital        Biggest City
0       Karnataka           Bengaluru           Bangalore
1      Tamil Nadu             Chennai      Ramanathapuram
2          Kerala  Thiruvananthapuram  Thiruvananthapuram
3       Telangana           Hyderabad               Medak
4  Andhra Pradesh       Vishakapatnam       Vishakapatnam
5     West Bengal             Kolkata           Bardhaman
6   Uttar Pradesh             Lucknow           Barabanki
7       Rajasthan              Barmer              Barmer
8          Punjab          Chandigarh        Muzaffargarh
9  Madhya Pradesh              Bhopal              Bhopal