# Program to handle missing data in pandas datframe

In [3]:
import pandas as pd
movie=pd.read_csv('movie.csv')
display(movie)
values={"Actor":"Siddharth Malhotra","Actress":"No Actress","Movies":"Badhaai Do"}
movie.fillna(value=values,inplace=True)
movie['Release_Year']=pd.to_datetime(movie['Release_Year'])
y=round(movie['Budget in crores'].median())
movie['Budget in crores'].fillna(y,inplace=True)
x=round(movie['Theatres'].mean())
movie['Theatres'].fillna(x,inplace=True)
movie.dropna(inplace=True)
movie

               Actor                      Movies Release_Year           Actress  Budget in crores  Theatres
0       Sharukh Khan                Om Shanti Om    9/11/2007  Deepika Padukone             40.00   13456.0
1        Salman Khan            Bajrangi Baijaan      17/7/15    Kareena Kapoor             90.00    9845.0
2          Amir Khan            Taare Zameen Par     21/12/07               NaN             12.00   76450.0
3       Varun Dhawan         Student of the year     20201226         Alia Bhat             59.00   65482.0
4                NaN                  Shershaah    12/08/2021      Kiara Adwani              0.55   32154.0
5      Ranveer Singh                          83   24/12/2021               NaN            270.00   89654.0
6      Ranbir Kapoor       Yeh Jawani he Deewani     20130531  Deepika Padukone              4.10  156245.0
7     Hrithik Roshan   Zindagi Na Milegi Doobara   15/07/2011      Katrina Kaif             45.00       NaN
8   Abhishek Bacchan                     Dostana   14/11/2008   Priyanka Chopra             21.00  326541.0
9       Rajkumar Rao                         NaN   11/02/2022    Bhumi Pednekar             45.00       NaN
10                           Gangubai Kathiawadi          NaN         Alia Bhat             55.00  236541.0